<ion-header>
    <ion-toolbar class="new-background-color ion-text-left">
        <ion-title>Login</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div class="form-container">
        <form [formGroup]="loginForm" class="input-form">
            <mat-form-field appearance="outline">
                <mat-label>Email</mat-label>
                <input matInput type="email" placeholder="email" formControlName="email">
                <mat-error *ngIf="loginForm.controls.email.errors">Acest camp este necesar!</mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>Parola</mat-label>
                <input matInput type="password" placeholder="parola" formControlName="password">
                <mat-error *ngIf="loginForm.controls.password.errors">Acest camp este necesar!</mat-error>
            </mat-form-field>
            <mat-divider></mat-divider>
        </form>
        <div class="buttons-section">
            <button mat-raised-button (click)="onSubmit()" class="btn">Login</button>
            <button mat-raised-button (click)="redirectToRegister()"class="btn">Inregistrare</button>
        </div>

    </div>

</ion-content>
