<ion-header>
    <ion-toolbar class="new-background-color">
        <ion-title>Cont</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div class="form-container">
        <form [formGroup]="userForm" class="input-form">
            <div class="panel">
                <mat-form-field class="small" appearance="outline">
                    <mat-label>Nume</mat-label>
                    <input matInput type="text" formControlName="lastName">
                    <mat-error *ngIf="userForm.controls.lastName.errors?.required">Acest camp este necesar!</mat-error>
                </mat-form-field>

                <mat-form-field class="small" appearance="outline">
                    <mat-label>Prenume</mat-label>
                    <input matInput type="text" formControlName="firstName">
                    <mat-error *ngIf="userForm.controls.firstName.errors?.required">Acest camp este necesar!</mat-error>
                </mat-form-field>
            </div>

            <mat-form-field appearance="outline">
                <mat-label>Email</mat-label>
                <input matInput type="text" formControlName="email">
                <mat-error *ngIf="userForm.controls.email.errors?.required">Acest camp este necesar!</mat-error>
                <mat-error *ngIf="userForm.controls.email.errors?.email">Email invalid!</mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>Parola</mat-label>
                <input matInput type="password" formControlName="password">
                <mat-error *ngIf="userForm.controls.password.errors?.required">Acest camp este necesar!</mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>Parola Verificare</mat-label>
                <input matInput type="password" formControlName="confirmPassword">
            </mat-form-field>
        </form>

        <span class="error-pas" *ngIf="passwordConf()">
            Parolele trebuie sa fie identice !
        </span>
        
        <mat-divider></mat-divider>
        
        <div class="buttons-section">
            <button mat-raised-button (click)="saveUserInfo()" class="btn">Salveaza Modificarile</button>
        </div>

    </div>

</ion-content>