<ion-header>
    <ion-toolbar class="new-background-color">
        <ion-title>Masina</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div class="form-container">
        <form [formGroup]="carForm" class="input-form">
            <div class="panel">
                <mat-form-field class="small" appearance="outline">
                    <mat-label>Brand</mat-label>
                    <input matInput type="text" formControlName="brand">
                </mat-form-field>

                <mat-form-field class="small" appearance="outline">
                    <mat-label>Model</mat-label>
                    <input matInput type="text" formControlName="model">
                </mat-form-field>
            </div>

            <mat-form-field appearance="outline">
                <mat-label>Tipul mufei</mat-label>
                <input matInput type="text" formControlName="chargeType">
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>Capacitatea bateriei in km</mat-label>
                <input matInput type="text" formControlName="battery">
            </mat-form-field>
        </form>

        <mat-divider></mat-divider>

        <div class="buttons-section">
            <button mat-raised-button (click)="saveCarInfo()" class="btn">Salveaza Modificarile</button>
            <button mat-raised-button (click)="deleteCarInfo()" class="btn-1">Sterge Masina</button>
        </div>

    </div>

</ion-content>