<agm-map #AgmMap [fitBounds]="bounds" [latitude]="latitude" [longitude]='longitude'  [styles]="styles" [disableDefaultUI]="false"
        [zoomControl]="false" [streetViewControl]="false" [fullscreenControl]="false" [zoom]="15">

         <agm-marker 
            *ngFor="let m of markers;
            let i = index" 
            [latitude]="m.coordinates.latitude"
            [longitude]="m.coordinates.longitude" 
            [iconUrl]="iconUrl(m.status)"
            (markerClick)="markerClicked($event, m)"
            >
            </agm-marker>

            <agm-marker [latitude]="'44.3854'" [longitude]="'26.1075978'">
            </agm-marker>


            <agm-polyline  [strokeColor]="'#13afe8'" [strokeWeight]="3">
                <agm-polyline-point *ngFor="let test of route" [latitude]="test.latitude" [longitude]="test.longitude">
                </agm-polyline-point>
            </agm-polyline>
</agm-map>
